.gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.imageWrapper {
    border: 1px solid #ccc;
    padding: 8px;
}

img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}
